body {
    background-color: #faebd6;
    width: 10cm;

}

h2 {
    color: #ff0000;
    font-size: large;
    font: bold;
}
span {
    color: #00008f;
}
p{
    color: #a42423;
    font-size: medium;
}
